2025/

# Lahore Registry - All Case Types





Lahore/35_C_U_O/
Lahore/36_Crl_I_C_A/
Lahore/37_T_A__C/
Lahore/38_T_A__F/
Lahore/39_T_Case/

# I

Islamabad/33_C_Sh_P/
Islamabad/34_Report/
Islamabad/35_C_U_O/
Islamabad/36_Crl_I_C_A/
Islamabad/37_T_A__C/
Islamabad/38_T_A__F/
Islamabad/39_T_Case/

# Karachi Registry - All Case Types
Karachi/1_C_A/
Karachi/2_Crl_A/
Karachi/3_Crl_Sh_A/
Karachi/4_C_Sh_A/
Karachi/5_C_P_L_A/
Karachi/6_Crl_P_L_A/
Karachi/7_C_R_P/
Karachi/8_Crl_R_P/
Karachi/9_Crl_Sh_P/
Karachi/10_C_Sh_R_P/
Karachi/11_J_Sh_P/
Karachi/12_J_P/
Karachi/13_C_P/
Karachi/14_Crl_Sh_R_P/
Karachi/15_H_R_C/
Karachi/16_Crl_O_P/
Karachi/18_S_M_R_P/
Karachi/19_Crl_M_A/
Karachi/20_C_M_Appeal/
Karachi/21_C_M_A/
Karachi/22_Crl_M_Appeal/
Karachi/24_Crl_S_M_R_P/
Karachi/25_S_M_C/
Karachi/27_Reference/
Karachi/28_I_C_A/
Karachi/29_D_S_A/
Karachi/31_Crl_S_M_Sh_R_P/
Karachi/32_H_R_M_A/
Karachi/33_C_Sh_P/
Karachi/34_Report/
Karachi/35_C_U_O/
Karachi/36_Crl_I_C_A/
Karachi/37_T_A__C/
Karachi/38_T_A__F/
Karachi/39_T_Case/

# Peshawar Registry - All Case Types
Peshawar/1_C_A/
Peshawar/2_Crl_A/
Peshawar/3_Crl_Sh_A/
Peshawar/4_C_Sh_A/
Peshawar/5_C_P_L_A/
Peshawar/6_Crl_P_L_A/
Peshawar/7_C_R_P/
Peshawar/8_Crl_R_P/
Peshawar/9_Crl_Sh_P/
Peshawar/10_C_Sh_R_P/
Peshawar/11_J_Sh_P/
Peshawar/12_J_P/
Peshawar/13_C_P/
Peshawar/14_Crl_Sh_R_P/
Peshawar/15_H_R_C/
Peshawar/16_Crl_O_P/
Peshawar/18_S_M_R_P/
Peshawar/19_Crl_M_A/
Peshawar/20_C_M_Appeal/
Peshawar/21_C_M_A/
Peshawar/22_Crl_M_Appeal/
Peshawar/24_Crl_S_M_R_P/
Peshawar/25_S_M_C/
Peshawar/27_Reference/
Peshawar/28_I_C_A/
Peshawar/29_D_S_A/
Peshawar/31_Crl_S_M_Sh_R_P/
Peshawar/32_H_R_M_A/
Peshawar/33_C_Sh_P/
Peshawar/34_Report/
Peshawar/35_C_U_O/
Peshawar/36_Crl_I_C_A/
Peshawar/37_T_A__C/
Peshawar/38_T_A__F/
Peshawar/39_T_Case/

# Quetta Registry - All Case Types
Quetta/1_C_A/
Quetta/2_Crl_A/
Quetta/3_Crl_Sh_A/
Quetta/4_C_Sh_A/
Quetta/5_C_P_L_A/
Quetta/6_Crl_P_L_A/
Quetta/7_C_R_P/
Quetta/8_Crl_R_P/
Quetta/9_Crl_Sh_P/
Quetta/10_C_Sh_R_P/
Quetta/11_J_Sh_P/
Quetta/12_J_P/
Quetta/13_C_P/
Quetta/14_Crl_Sh_R_P/
Quetta/15_H_R_C/
Quetta/16_Crl_O_P/
Quetta/18_S_M_R_P/
Quetta/19_Crl_M_A/
Quetta/20_C_M_Appeal/
Quetta/21_C_M_A/
Quetta/22_Crl_M_Appeal/
Quetta/24_Crl_S_M_R_P/
Quetta/25_S_M_C/
Quetta/27_Reference/
Quetta/28_I_C_A/
Quetta/29_D_S_A/
Quetta/31_Crl_S_M_Sh_R_P/
Quetta/32_H_R_M_A/
Quetta/33_C_Sh_P/
Quetta/34_Report/
Quetta/35_C_U_O/
Quetta/36_Crl_I_C_A/
Quetta/37_T_A__C/
Quetta/38_T_A__F/
Quetta/39_T_Case/

.vscode/
analyze_structure.py
