2025/
data/
Lahore/
Karachi/
.vscode/
analyze_structure.py
SupremeCourt_CaseInfo/
SupremeCourt_Data/
SupremeCourt_Judgements/
gitignore/
project_summary.py
test_updated_extractors.py
Assignment-1.ipynb
comprehensive_extractor_1980_2025.py
final_summary.py
main.py
QUICKSTART.md
README_UPDATED_SYSTEM.md

requirements.txt